debug/
target/
**/*.rs.bk
node_modules
TODO.org
.envrc
.direnv
_build
result
.DS_Store
.depend
.cache
proof-libs/fstar/rust_primitives/#*#
**/proofs/*/extraction/*
!**/proofs/*/extraction/*.diff
!**/proofs/fstar/extraction/*.fst
!**/proofs/coq/extraction/*.v
