[package]
name = "hax-frontend-exporter-options"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true
readme.workspace = true
description = "The options the `hax-frontend-exporter` crate is sensible to."

[dependencies]
serde.workspace = true
serde_json.workspace = true
schemars.workspace = true
hax-adt-into.workspace = true
