.rust-fstar-wrapper .buttons {
    text-align: right;
    margin-right: 8px;
}
.rust-fstar-wrapper button {
    border: none;
    background: none;
    padding: 4px 14px;
}
.rust-fstar-wrapper .buttons .fstar-rust-snippet-active {
    background: #f6f7f6;
    opacity: 1;
}
.rust-fstar-wrapper .buttons button:hover {
    opacity: 1;
}
.rust-fstar-wrapper .buttons .fstar-rust-snippet-hidden {
    opacity: 0.4;
}
.rust-fstar-wrapper .snippets .snippet.fstar-rust-snippet-hidden {
    display: none;
}
.rust-fstar-wrapper .snippets .snippet pre {
    margin-top: 0;
}
